body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 77, 77, 0.5);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: blue;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.error {
    color: #ff4d4d;
    font-size: 0.9em;
    margin-top: 10px;
}

.oculto {
    display: none;
}
